<!DOCTYPE html>
<html>
  <head>
    <title>Binger</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render partial: 'layouts/navigation' %>
    <main>
      <div class="mx-auto max-w-7xl sm:px-6 lg:px-8 mt-8">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
